<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Отчёты и аналитика</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400;14..32,500;14..32,600;14..32,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>

<body>
    <div class="container">
        {% include 'includes/header.html' %}
        <div class="main-container">
            <form method="GET" action="{% url 'reports' %}">
                <div class="main-container-header">
                    <div class="header-and-buttons">
                        <h1><i class="fas fa-chart-column" style="margin-right: 6px;"></i> Отчёты и аналитика</h1>
                        <div class="action-buttons">
                            <button class="btn btn-outline"><i class="fas fa-exchange-alt"></i> Изменить график</button>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-bar-chart"></i> Сформировать</button>
                        </div>
                    </div>
                </div>
                <div class="main-body">
                    <div class="center-container">
                        <div class="info-card">
                            <div class="card-header">Количество заявок по месяцам</div>
                            <div class="card-content">
                                {{ chart|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="sidebar">
                        <div class="info-card">
                            <div class="card-header">
                                <i class="fas fa-sliders-h"></i> Фильтры
                            </div>
                            <div class="card-content">
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>